<link rel="stylesheet" type="text/css" href="/css/404.css">

<h1 class="title">
    Page not found
</h1>
<p class="subtitle">this page is not available, u can go to home.</p>
<button class="home" onclick="window.location.href='/home'">home</button>