<link rel="stylesheet" type="text/css" href="/css/account.css" />

<h1 class="title"><%= username %>'s profile.</h1>
<h3 class="subtitle">registered since : <%= registeredsince %></h3>
<p class="description"><%= description %></p>
