<link rel="stylesheet" type="text/css" href="css/home.css">

<h1 class="title">welcome to myself learning ejs.</h1>
<h2 class="subtitle">register or login to start.</h2>

<div class="bottun">
    <button class="register" onclick="window.location.href='/register';">register</button>
    <button class="login">login</button>
</div>