<!-- by mvfflin#9046 dont delete this. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="https://cdn.glitch.global/e6c8e806-626a-42eb-b6c4-28281eeb55e3/pfpcircle.png?v=1671627666324"
        type="image/x-icon">
    <meta name="og:title" content="mvfflin's profile">
    <meta name="og:description" content="my profile, open it if u want to">
    <meta name="og:image"
        content="https://cdn.glitch.global/e6c8e806-626a-42eb-b6c4-28281eeb55e3/pfp.jpg?v=1671627662803">
</head>

<body>
    <nav class="header">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            < </label>
                <a href="#"><img
                        src="https://cdn.glitch.global/e6c8e806-626a-42eb-b6c4-28281eeb55e3/pfp.jpg?v=1671627662803"
                        class="logo"></a>
                <p>mvfflin's profile</p>
                <ul>
                    <li><a class="active" href="#">home</a></li>
                    <li><a href="lmao">about</a></li>
                    <li><a href="pages/misc/misc.html">misc</a></li>
                    <li><a href="pages/social/social.html">social media</a></li>
                </ul>
    </nav>
    <img src="https://cdn.glitch.global/e6c8e806-626a-42eb-b6c4-28281eeb55e3/pfp.jpg?v=1671627662803" class="pfpmain">
    <h1 class="title">hi, im mvfflin</h1>
    <h2 class="dctag">im from indonesia.</h2>
    <h3 class="notready">this website is still under development :D</h3>
</body>
<script src="index.js"></script>

</html>