<link rel="stylesheet" type="text/css" href="/css/list.css">
<script src="/javascripts/user.js"></script>
<h1 class="title">list of users</h1>
<p class="subtitle">thx for registering in my web.<br>i do appreciate it.</p>
<ul class="listuser">
    <% accounts.forEach(account => { %>
        <li><%= account.username %> </li>
    <% }) %>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
    <li>test</li>
</ul>