<link rel="stylesheet" type="text/css" href="/css/error.css" />

<h1 class="title">cookie error!</h1>
<p class="subtitle">
	this is a cookie error<br />try to reset all the cookies or press this button.
</p>

<form>
	<button
		class="registerbtn"
		type="submit"
		formaction="/deletecookies"
		formmethod="post">
		delete cookies
	</button>
</form>
