<link rel="stylesheet" type="text/css" href="/css/error.css" />

<h1 class="title">u are not registered or even logged in.</h1>
<p class="subtitle">try to register or login.</p>
<button
	class="registerbtn"
	type="button"
	onclick="window.location.href='/login'">
	login
</button>
<button
	class="registerbtn"
	type="button"
	onclick="window.location.href='/register'">
	register
</button>
