<link rel="stylesheet" type="text/css" href="/css/error.css" />

<h1 class="title">this username is not ur account this time</h1>
<p class="subtitle">try to login so u can access this account</p>
<button
	class="registerbtn"
	type="button"
	onclick="window.location.href='/login'">
	login
</button>
