<link rel="stylesheet" type="text/css" href="/css/error.css" />

<h1 class="title">login failed.</h1>
<p class="subtitle">
	this username is not registered<br />make an account first.
</p>
<button
	class="registerbtn"
	type="button"
	onclick="window.location.href='/register'">
	register
</button>
