<link rel="stylesheet" type="text/css" href="/css/error.css">

<h1 class="title">register failed.</h1>
<p class="subtitle">this username has been taken.</p>
<button class="registerbtn" type="button" onclick="window.location.href='/register'">register</button>