<link rel="stylesheet" type="text/css" href="/css/error.css" />

<h1 class="title">login failed.</h1>
<p class="subtitle">
	wrong password.<br />if u forgot ur password, dm me or join discord and tag
	me.
</p>
<button
	class="registerbtn"
	type="button"
	onclick="window.location.href='/login'">
	login
</button>
