<link rel="stylesheet" type="text/css" href="/css/success.css" />

<h1 class="title">success!</h1>
<p class="subtitle">
	successfully reset all the cookies, u can login or register now
</p>
<button
	class="accountbtn"
	type="button"
	onclick="window.location.href = '/home'">
	home
</button>
