<link rel="stylesheet" type="text/css" href="/css/success.css" />

<h1 class="title">success!</h1>
<p class="subtitle">
	ur description has changed! u can check it in account panel
</p>
<button
	class="accountbtn"
	type="button"
	onclick="window.location.href = '<%= accountlink %>'">
	account panel
</button>
