<link rel="stylesheet" type="text/css" href="/css/success.css">

<h1 class="title">success!</h1>
<p class="subtitle">successfully registered, u can go to account panel now.</p>
<button class="accountbtn" type="button">account page</button>